.card {
  background-color: #2D2D2D;
  border-radius: 25px;
}

.auteur {
  background-color: #C6833E;
  color: #2D2D2D;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}

.citation {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
}

.quote {
  background-color: #C6833E;
  width: 50px;
  height: 50px;
  border-radius: 125px;
}



